*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.head{
    background-color: #2a2a2a;
    padding: 20px;
}

.head h1{
    font-size: 2.9rem;
}

.headlinks{
    text-align: center;
    margin-top: 10px;
}

.headlink{
    color: #585858;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 20px;
    transition: color 0.3s ease;
    gap: 40px;
}

.headlink:hover{
    color: #151515;
}

.container{
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    max-width: 1200px;
    padding: 40px;
    margin: auto;
}

.sidebar{
    background-color: #2a2a2a;
    border-radius: 16px;
    padding: 20px;
    position: sticky;
    top: 40px;
    height: calc(100vh - 80px);
}

.profile{
    text-align: center;
}

.profile img{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 6px solid #3a3a3a;
}

.profile h2{
    margin-top: 10px;
    color: #e0e0e0;
}

.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-weight: 900;
    color: #585858;
    font-size: 0.8rem;
    margin-top: 10px;
}


.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone{
    margin-bottom: 14px;;
}

.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
    padding: 20px  ;

}

.social img{
    height: 24px;
    width: 24px;
    filter: grayscale(1) invert(0.7);
    margin-right: 14px;
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

.main-content{
    font-size: 1.3rem;
    background-color: #2a2a2a;
    border-radius: 16px;
    padding: 30px;
}

.main-content h2{
    font-size: 3rem;
    border-bottom: 2px solid #585858;
    margin-bottom: 20px;
}

.main-content {
    margin-bottom: 40px;
}

.foot{
    text-align: right;
    color: #585858;
    padding: 20px;
}

.exphead{
    font-weight: 900;
    color: #4c4c4c;
    font-size: 1.3rem;
    margin-top: 20px;
    font-style: bold;
}

h3{
    font-size: 1.8rem;
    color:#1b1919;
    font-style: underline;
   
}

li {
    text-indent: 7px;
    margin-left: 28px;
    line-height: 2;
    margin-top: 6px ;
}

main-content h3{
    border-top: 2px solid #585858;
    border-bottom: 2px solid #585858;
    font-style: underline;
}
